* {
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  margin: 0px;
  padding: 0px;
  /*border: 1px solid red;*/
}

body {
  background-color: #F3F6F7;
}

header {
  background-color: #1F1F3D;
  padding:5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

nav li {
  display:flex;
  padding-top: 10px;
  padding-left: 25px;
}

/*same as check circle*/
.nav__li--delete {
  margin: 2px 10px;
  outline:none;
  width: 15px;
  border: none;
  height: 15px;
}

.header__text {
  font-weight: 800;
  height: 36px;
  margin: 10px 0px;
}

.yellow__text {
  color: #FFC30C;
  margin: 0px 5px;

}
.search:placeholder-shown {
  padding-left: 10px;
}

header form {
  display: flex;
}

.search-btn {
  background-color: #C7D3D8;
  border: 10px solid #C7D3D8;
  border-radius: 3px 0px 0px 3px;
  width: 40px;
}

.header__input {
  border-radius: 0px 3px 3px 0px;
  width: 220px;
  border: 0px;
}

main {
  display: flex;
  height: 90%;
}

nav {
  background-color: #587A8A;
  width: 275px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav form section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 10px;
}

input {
  height: 40px;
  outline: none;
  border: 2px solid #1F1F3D;
}

.item-input {
  display: inline-flex;
}

#task-title-input {
  width:100%;
  border-radius: 3px;
}

.nav__input {
  width: 215px;
  margin-bottom: 20px;
  border-radius: 3px 0px 0px 3px;
}

.add-task-btn {
  background-color: #1F1F3D;
  border: 10px solid #1F1F3D;
  border-radius: 0px 3px 3px 0px;
  width: 40px;
}

.btn {
  background-color: #1F1F3D;
  height: 40px;
  color: #FFFFFF;
  font-size:15px;
  margin-bottom:20px;
}

.disabled {
  color: #1F1F3D;
  background-color: #C7D3D8; 
}

#urgency-btn{
  margin: 0px 10px;
}
nav form {
  margin-bottom: 20px;
  border-bottom: 3px solid #3C6577;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #F3F6F7;
}

container {
  padding: 10px;
  width: 100%;
}

article {
  width: 275px;
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  margin-bottom: 12px;
  padding: 1px;
}

.urgent {
  width:275px;
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
  break-inside: avoid;
  margin-bottom: 12px;
  padding: 1px;
  color: #1F1F3D;
}

article ul {
  padding: 10px;
  border-top: 2px solid #C7D3D8;

}

article li {
  display: flex;
}

.article__li--checkbox{
  height: 15px;
  width: 15px;
  outline: none;
  margin: 3px;
}

article header {
  background-color: #FAFDFF;
}
.article__header--title {
  color: #1F1F3D;
  font-size: 20px;
}

article input {
  border: 0px;
}

article footer{
  display:flex;
  justify-content: space-between;
  border-top: 2px solid #C7D3D8;
}

.article__input--btn {
  height: 15px;
  margin: 3px;
  outline: none;
  width:15px;
}

.article__footer--text {
  color:#3C6577;
  font-size: 10px;
}

article div {
  display: flex;
  flex-wrap: wrap;
  width:55px;
  justify-content: center;
}












