 * {
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  margin: 0px;
  padding: 0px;
  transition: .1s;
}

body {
  background-color: #F3F6F7;
}

header {
  background-color: #1F1F3D;
  color: #FFFFFF;
  padding:5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

nav li {
  display:flex;
  padding-left: 25px;
  padding-top: 10px;
}

/*same as check circle*/
.nav__li--delete {
  border: none;
  height: 15px;
  margin: 2px 10px;
  outline: none;
  width: 15px;
}

.header__text {
  font-weight: 800;
  height: 36px;
  margin: 10px 0px;
}

.yellow__text {
  color: #FFC30C;
  margin: 0px 5px;

}
.search:placeholder-shown {
  padding-left: 10px;
}

header form {
  display: flex;
}

.search-btn {
  background-color: #C7D3D8;
  border-radius: 3px 0px 0px 3px;
  border: 10px solid #C7D3D8;
  width: 40px;
}

.header__input {
  border-radius: 0px 3px 3px 0px;
  border: 0px;
  width: 220px;
}

main {
  display: flex;
  height: 90%;
}

nav {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 275px;
}

nav form section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 10px;
}

input {
  border: 2px solid #1F1F3D;
  height: 40px;
  outline: none;
}

.item-input {
  display: inline-flex;
}

#task-title-input {
  border-radius: 3px;
  padding-left: 10px;
  width:100%;
}

.nav__input {
  border-radius: 3px 0px 0px 3px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 215px;
}

.add-task-btn {
  background-color: #1F1F3D;
  border-radius: 0px 3px 3px 0px;
  border: 10px solid #1F1F3D;
  width: 40px;
}

.btn {
  background-color: #1F1F3D;
  color: #FFFFFF;
  font-size:15px;
  height: 40px;
  margin-bottom:20px;
}

.disabled {
  background-color: #C7D3D8; 
  color: #1F1F3D;
}

#urgent-btn{
  margin: 0px 10px;
}

nav form {
  border-bottom: 3px solid #3C6577;
  margin-bottom: 20px;
}

label {
  color: #F3F6F7;
  font-size: 14px;
  margin-bottom: 5px;
}

container {
  column-count: 3;
  column-width: 15em;
  padding: 10px;
  width: 100%;
}

h2 {
  break-inside: avoid;
  font-size: 1.1em;
  margin-top: 15px;
}

/*Inserted Article Styles*/

article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  color: #1F1F3D;
  margin-bottom: 12px;
  padding: 1px;
}

article ul {
  border-top: 2px solid #C7D3D8;
  padding: 10px;
}

article li {
  display: flex;
}

.article__li--checkbox{
  height: 15px;
  margin: 3px;
  outline: none;
  width: 15px;
}

article header {
  background-color: #FAFDFF;
}

.article__header--title {
  color: #1F1F3D;
  font-size: 20px;
}

article input {
  border: 0px;
}

article footer{
  border-top: 2px solid #C7D3D8;
  display:flex;
  justify-content: space-between;
}

.article__input--btn {
  height: 15px;
  margin: 3px;
  outline: none;
  width:15px;
}

.article__footer--text {
  color:#3C6577;
  font-size: 10px;
}

article div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:55px;
}

.checked {
  color: #3C6577;
  font-style: italic;
  text-decoration: line-through;
}

.urgent {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
  break-inside: avoid;
  color: #1F1F3D;
  margin-bottom: 12px;
  padding: 1px;
}

.urgent header {
  background-color: #FFE89D;
  color: #1F1F3D;
}

.urgent ul,
.urgent footer {
  border-top: 2px solid #FFC30C;
}
/*
.urgentTxt {
  color: #B23A25;
}*/

.urgentBtnActive {
  background-color: #EF4A23;
  border-radius: 3px 0px 0px 3px;
  border: 2px solid #782616;
  color: #FFFFFF;
}


@media screen and (max-width:550px) {
  header {
    flex-direction: column;    
  }

  .header__text{
    font-size: 37px;
    height: 45px;
    margin-bottom: 5px;
  }

  main {
    flex-direction: column;
  }

  nav {
    width: 100%;
    min-height: 70vh;
  }

  label {
    display: block;
    font-size: 25px;
  }

  .header__form{
    width: 100%;
  }

  .nav__input{
    width: 100%;
  }

  .search-btn {
    width: 60px;
  }

  .header__input {
    font-size: 30px;
    width:100%;
  }

  .add-task-btn {
    width: 15%;
  }

  .btn{
    font-size: 28px;
    height: 60px;
  }

  container{
    column-count:1;
  }

  input {
    height:60px;
    font-size:30px;
  }

}


